<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :images, class: "form-label" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
    <p class="form-text">If you want to add new images or replace existing ones, please select them here.</p>
  </div>

  <div class="mb-3">
    <%= form.submit "Add Photo", class: "btn btn-dark" %>
  </div>
<% end %>
