<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>IMAGES:</strong>
    <% if photo.images.attached? %>
      <% photo.images.each do |image| %>
        <%= image_tag image, width: "10%" %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

</div>
