<style>
  /* General styles */
  .photo-images {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
  }

  /* Mobile styles */
  @media (max-width: 767px) {
    .photo-images {
      grid-template-columns: 1fr;
    }
  }

  /* Tablet styles */
  @media (min-width: 768px) and (max-width: 1023px) {
    .photo-images {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Desktop styles */
  @media (min-width: 1024px) {
    .photo-images {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Larger desktop styles */
  @media (min-width: 1200px) {
    .photo-images {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .photo-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 8px;
    margin: 10px;
    padding-bottom: 20px;
  }

  /* Add styles for image container */
  .image-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 5px;
  }

  /* Add styles for image */
  .photo-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #photos {
    margin: 20px;
    padding: 20px;
  }
</style>

<div id="photos" class="photo-images">
  <% if @photos.any? { |photo| photo.images.attached? } %>
    <% @photos.each do |photo| %>
      <% if photo.images.attached? %>
        <div class="photo-item">
          <h2><%= photo.title %></h2>
          <p><%= photo.description %></p>
          <% photo.images.each_with_index do |image, index| %>
            <div class="image-container">
              <%= image_tag image, class: 'photo-image' %>
            </div>
          <% end %>
          <p class="d-flex justify-content-between">
            <%= link_to "Show", photo, class: "btn btn-info m-2" %>
            <%= link_to "Edit", edit_photo_path(photo), class: 'btn btn-primary m-2' %>
          </p>                  
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No photos with images found.</p>
  <% end %>
</div>
<div>
  <%= link_to "New photo", new_photo_path, class: "btn btn-dark" %>
</div>
